<!DOCTYPE html>
<html>

<head>
    <title>Système Expert</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">


</head>

<body>
    <br><br>
    <div class="row">
        <div class="col">
            <input id="inputeq" placeholder="1" class="form-control" style="text-align: center; width: 60%; margin: auto;" type="number" min="1" max="10">
        </div>
    </div>
    <br><br><br>
    <div class="container equations">
        <div class="row">
            <!--<div class="col">
                <label for="premisse">Premisse</label>
                <div class="input-group">
                    <input id="premisse" type="text" class="form-control premisse" placeholder="A^B^C">
                </div>
            </div>
            <div class="col">
                <label for="conclusion">Conclusion</label>
                <div class="input-group">
                    <input id="conclusion" type="text" class="form-control conclusion" placeholder="D">
                </div>
            </div>-->
            <div class="input-group equation" style="margin: 3px;">
                <div class="input-group-prepend">
                  <span class="input-group-text">Equation</span>
                </div>
                <input id="premisse" type="text" aria-label="premisse" class="form-control premisse" placeholder="Prémisse">
                <input id="conclusion" type="text" aria-label="conclusion" class="form-control conclusion" placeholder="Conclusion">
            </div>
        </div>
    </div>
    <div class="container">
        <br><br>
        <div class="row">
            <div class="col">
                <label for="hypothese">Hypothèses</label>
                <div class="input-group">
                    <input id="hypothese" type="text" class="form-control hypothese" placeholder="A,B,C">
                </div>
            </div>
            <div class="col">
                <label for="solution">Solutions</label>
                <div class="input-group">
                    <input id="solution" type="text" class="form-control">
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col">
                <button id="launch" onclick="resolve()" type="button" class="btn btn-secondary">Start</button>
            </div>
            <div class="col">
                <button id="reset" onclick="reset()" type="button" class="btn btn-secondary">Reset</button>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>

<script>

    $(document).ready(function () {
        $('#solution').attr('disabled', 'disabled');
        $('#reset').attr('disabled', 'disabled');

        $('#inputeq').change(function () {
            var form = document.getElementById("inputeq");
            var entry = this.value;
            var count = 0;
            $('.equation').each(function () {
                count += 1;
            })
            diff = count - entry;
            if (form.checkValidity()) {
                if (diff < 0) {
                    for (var i = 0; i < (Math.abs(diff)); i++) {
                        $('.equations').append('<div class="row"><div class="input-group equation" style="margin: 3px;"><div class="input-group-prepend"><span class="input-group-text">Equation</span></div><input type="text" aria-label="premisse" class="form-control premisse" placeholder="Prémisse"><input type="text" aria-label="conclusion" class="form-control conclusion" placeholder="Conclusion"></div></div>');
                    }
                }
                else {
                    for (var j = 0; j < (Math.abs(diff)); j++) {
                        $('.equation').last().remove();
                    }
                }
            }
        })
    });

    function resolve() {
        $('.premisse').attr('disabled', 'disabled');
        $('.conclusion').attr('disabled', 'disabled');
        $('#hypothese').attr('disabled', 'disabled');
        $('#reset').attr('disabled', false);

        $('.equation').each(function () {
            var prem = $(this).find('.premisse').val();
            var conc = $(this).find('.conclusion').val();
            var myDic = {
                'premisse': prem,
                'conclusion': conc,
            }
            $.ajax({
                type: "POST",
                data: myDic,
                url: '/create_eq'
            })
        })
        var hyp = $('.hypothese').val();
        var hypDic = {
            'hypothese': hyp
        }
        $.ajax({
            type: "POST",
            data: hypDic,
            url: '/create_hyp'
        })
        $.ajax({
            type: "POST",
            url: '/generate_solutions',
            success: function (res) {
                $('#solution').val(res)
            }
        })
    }

    function reset() {
        $('.premisse').attr('disabled', false);
        $('.conclusion').attr('disabled', false);
        $('#hypothese').attr('disabled', false);
        $('#reset').attr('disabled', 'disabled');
        $('#solution').val("")

        $.ajax({
            type: "POST",
            url: '/reset',
        })
    }

</script>


